:root {
    --escala-pantalla: 1;
}

body {
    display: flex;
    flex-direction: column;
    zoom: var(--escala-pantalla);
    min-height: calc(100vh / var(--escala-pantalla));
}

main {
    flex: 1;
}

header,
nav,
footer {
    flex-shrink: 0;
}


